@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>GetHub</h3>
    </header>
    <p>
        <span class="label">Website:</span>
        <span><a href="https://github.com/LWolf76/BookMaster">https://github.com/LWolf76/BookMaster</a></span>
    </p>
</section>