@{
    ViewBag.Title = "About";
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This Project was created specifically to help keep better track of my library of technical books. The title and description of the book wasn't detailed enough to be able to find things I was looking for. By adding a subject to the contents I can find more specific items in the books!</p>
